header{
  background-color:#3c1874;
  text-align: center;
  color: #ffffff;
}
nav a{
  display: inline-block;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 5%;
  padding: 5px 20px;
}
a{
  color: #3c1874;
  text-align: center;
  background-color:rgba(255,248,244);
}
body{
  padding: 10px 20px;
  margin: 5px;
}
section{
  background-color:#c4aaee;
  padding: 20px;
  margin: 5px;
}
table{
    width: 100%;
    margin: 0 auto;
    font-size: 110%;
    font-family: serif, arial, "Times New Roman", cursive;
    line-height: 150%;
    text-align: center;
    border-radius: 5px;
}
tr th{
  color:#3c1874;
  text-align: center;
}
tr td{
  text-align: left;
}
.mid{
  text-align:center;
}
h2{
  color: #3c1874;
}
.button {
  background-color:#3c1874;
  border: none;
  border-radius: 5px;
  color: #c4aaee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
footer{
  background-color:#3c1874;
  text-align: center;
  color: #ffffff;
}
